.answer-container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
}

.answer-container {
  margin-top: 200px;
}

.answer-container label {
  display: block;
  margin-bottom: 10px;
}
.container {
  margin-left: 11.3px;
}


.form-group {
  margin-top: 20px;
}
.answer-container {
  height: 100px; /* set a fixed height here */
}
.form-group textarea {
  max-width: 50%;
}

